language: java
sudo: false
jdk:
- oraclejdk8
addons:
  apt:
    packages:
    - oracle-java8-installer
script:
- "./gradlew build -s -i"
after_success:
- '[ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ] && ./gradlew
  artifactoryPublish -s -i'
env:
  global:
  - secure: qPrkujn7sG9+Cz2Aw+QQSPgr2uDpRAHmT8IgB/4/cDmamrOfBMdZSMolzZZK5SjJQakK51WCxaoht84lq+pxi39hve7imcpd4gQjnEph7bfLp/9QKez+KtyhDFTFbnqk/ZMaQKv1/T9hCrnkiQoD0G1zbad5KbDFSnPh9UpypK09LB5iKNGsI39/U9JdYbcm7LXkSeluLh89AHTE0TsMMiRfkIfjciOyDCqPeH1/XMCKwwLu49C2MSQtMZ0siS52SJK15aYzr6bHHOPA1q1QExmgCyqE72OdTqfruYyIsN7gYG6VjKuSjyE3aUHYKNscGsOBngGus7ru4RjWxGPoeK1FYytp8GXt33M7KwzDM7R5PhG6KRMyy6SqPY3CAwVt6MpoQ6yO++AC+Hm9pmnh8J9BaroHL70n9R7d4Pozfa8gSTE0PXx43MBlSMrBHSWeo7zykwW586QGh9g0Zt2DA4OOq1bU5Qx5MPlPbllA0NeKdG3TD+DpK3gK5Uy26tLmWaHTELtGnU/08rE/YWhdGOUG64CUtlE0QGk/VA/dFkhX+2PK3GRkmvqx1SKs9tyw3ULPfar21KtLCIlt8m82IAdOEFUg1EQMbhJR5cNZ1efJ+Yvg6PSgGkIe5QqhIZHvTxqoZK5VyqBE2jaeKTgK4zJ4OzF3QmUgETFsNo4RH6A=
  - secure: 6Xuuy72o1u0K9WYNUbaH5fmQYMoaRkgTCjXSI/XttErKiL5SRWK19Fp7aICJ5RPjri920ttyKQ5tAuG8U2C1lTyytCM3v6Lo+4+xRLwKIXVV7XTGO9k1j/4qPn8Fe4pgBzjldI/Kbu9q4PoimCKwSFxsWCBQnFmhB2QSEkv8RkL65e3jD1Jt86xewdtIEcMFV5bm4+iCv+PdTToF7hdxhb1CpuLHy1fU2lJDuOsTsgajbmZCHaAJ65haiSFj8JbGvyieVTG6k0nPgtQH7D/rYUT4ApmlLrqMnGQRl9VEvnofzoqK5G03u7I94/Q8xm7XpFuJpCEPP+ycQVE8P3MDXqMI4wUUaepKR+omP3TeV8FFh0TipwkvZrfFzdpzJ2fPJZeHSo7V9VucMPK9KdLN01RORQp3/goxNVAIOqx3xWXnlKcIPBC7XDH4nM0s6JyTVlcRvN2UMPd02YPdj7YFcjyTkjLTxPyGHujQvcXe8LO/q5vlCazxC4kzaojnTiogpZMQ1+IsyiElyMiLlU/wnj2kQ4OjSoigytowjH2SQ2ywVbGYoBgN7kbzE1fdmXdhGtBTWATnEXdyFrjekTczyRA2qmBEgvAhMrMVvx2sCmQaMSKr3xqv8gnIKrwpnPuiBkYXENnq0VRbfkB7ewX1vFWK63hvJpT1/2VSIJeI+PQ=
